/* *******************************************************************

This enables REAL full screen mode (without toolbars) for Firefox/Mac
Date: 2019-08-28

Source: https://bugzilla.mozilla.org/show_bug.cgi?id=740148#c93

The code is from https://pastebin.com/YT0TCzPe (linked in above post)
and should be saved in a file /profile-folder/chrome/userChrome.css

******************************************************************* */

:root[inFullscreen] #navigator-toolbox {
	z-index: 1;
	margin-top: calc(-68px - var(--tab-min-height));
}
:root[inFullscreen] #navigator-toolbox::after {
	visibility: hidden;
}
:root[sizemode="fullscreen"][inFullscreen] #navigator-toolbox,
:root[sizemode="fullscreen"][inFullscreen] #navigator-toolbox::after {
	transition: all .2s ease .5s !important;
}
:root[inFullscreen] #navigator-toolbox:focus-within,
:root[inFullscreen] #navigator-toolbox:hover {
	transition-delay: 0s !important;
	margin-top: 0;
}
:root[inFullscreen] #navigator-toolbox:focus-within::after,
:root[inFullscreen] #navigator-toolbox:hover::after {
	transition-delay: 0s !important;
	visibility: visible;
}
:root[inFullscreen] #content-deck {
	position: fixed;
	z-index: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
:root[inFullscreen] #content-deck > #browser {
	width: 100%;
	height: 100%;
}
